<p>ADD POST</p>
<mat-card>
    <form class="example-form" [formGroup]="AddPostForm" (ngSubmit)="onSubmit()" > 
        <mat-form-field class="example-full-width"  >
          <mat-label>Title</mat-label>
          <input matInput placeholder="title" formControlName="title">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" >
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Leave a comment" formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button  class="new-form-btn" [disabled]="!AddPostForm.valid">Post</button>
      </form>   
    
</mat-card>
